body {
    background-color: #f0f0f0;
    height: 100%;
}

.navbar {
    margin-top: 30px;
    margin-bottom: -5px;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -53px !important;
}

.jumbotron {
    background-color: #f0f0f0;
}

.row-tall {
    margin-top: 25%;
    font-size: 20px;
}

ul {
    list-style: none;
}

h1, h2, h4, h5 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h2#small {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

p {
    font-family: 'Abel', sans-serif;
}

p.header{
    font-size: 48px;
}

.li-inline {
    display: inline-block;
    margin: 12px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    background: #e6e6e6;
}

#logo {
    position: relative;
    width: 105px;
    height: 105px;
    bottom: 44px;
}

.ipad {
    width: 96%;
    height: 96%;
    margin-left: 2%;
}

#icon-red {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
    border-radius: 9px;
    font-family: 'Anton', sans-serif;
    font-size: 9px;
    text-align: center;
    padding-top: 4px;
    margin: 0 auto;
}

#icon-orange {
    width: 18px;
    height: 18px;
    background-color: #eb9d3a;
    border-radius: 9px;
    font-family: 'Anton', sans-serif;
    font-size: 9px;
    text-align: center;
    padding-top: 4px;
}

#icon-green {
    width: 18px;
    height: 18px;
    background-color: #7cb06c;
    border-radius: 9px;
    font-family: 'Anton', sans-serif;
    font-size: 9px;
    text-align: center;
    padding-top: 4px;
}

#icon-blue {
    width: 18px;
    height: 18px;
    background-color: #00aba9;
    border-radius: 9px;
    font-family: 'Anton', sans-serif;
    font-size: 9px;
    text-align: center;
    padding-top: 4px;
}