/*
this file is named "style.css" and is in a directory named "css"
*/

h1, h2, h3, h4, h5, h6 {
    color: mediumseagreen;
    text-decoration: underline;
}

.center {
    text-align: center;
}

body {
    color: #fff;
    font-family: Helvetica, serif;
    background: #343444 url("../images/shattered-island.gif");
    background-size: 34%;
}

ul {
    list-style: square;
}

table{
    padding: 25px;
    font-size: large;
}

td {
    padding: 12px;
    font-size: small;
}

tr{
    padding: 19px;
    font-size: medium;
}

a:link {
    color: darkgreen;
}

a:visited {
    color: slateblue;
}

a:hover {
    color: lightgreen;
}

a:active {
    color: darkgoldenrod;
}